<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="io/justedlev/logging/logback/properties.xml"/>
    <include resource="org/springframework/boot/logging/logback/default.xml" />
    <include resource="io/justedlev/logging/logback/console-appender.xml" />
    <include resource="io/justedlev/logging/logback/file-appender.xml" />
    <include resource="io/justedlev/logging/logback/debug-file-appender.xml"/>

    <!-- Root Logger Configuration -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </root>
</configuration>
